__pycache__/
*.py[cod]

.pytest_cache/
.mypy_cache/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.sln
*.vcxproj
*.vcxproj.filters
*.recipe
*.tlog
*.obj
*.pdb
*.ilk
*.lib
*.exp
*.dll
*.pyc
img-converter/e-int_display/build/
